.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
env1
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

# temp database
chroma_db/*
uploaded_dir/*

# allowing certain data so it can be test out
!chroma_db/sharif
!chroma_db/ace_portal
!uploaded_dir/sharif
!uploaded_dir/ace_portal